/* Phones */
.lineContainer {
  width: 100vw;
  height: 100vw;
}

.pieContainer {
  width: 100vw;
  height: 100vw;
}

.label {
  font-size: 12px;
  font-family: sans-serif;
  position: realtive;
  text-align: center;
}

/* Tablets and larger */
@media (min-width: 768px) {
  .lineContainer {
    width: 90vw;
    height: 25vw;
  }

  .pieContainer {
    width: 40vw;
    height: 40vw;
  }
}